button{
    display: none;
    margin:  auto;
    margin-top: 20px;
    border: none;
    height: 40px;
    color: #76C883;
    background-color: #181219;
    font-weight: 700;
    font-size: 15pt;


}
button:hover{
    color: white
}
.choices-box{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    
}

.visible{
    display: block;
}
.invisible{
    display: none;
}